################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Anton(Affin method)/Anton(Affin method)/.vs/Anton(Affin method)/v17/Browse.VC.opendb
